*{
    margin: 0;
    padding: 0;
    text-decoration-style: none;
    list-style: none;
}

body{
    font-family: 'Poppings';
}

.navbar{

padding: 30px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
box-sizing: border-box;

}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
margin: 20px;
}
.group-center {
    display: flex;
    gap: 10px;
    margin-left:auto ;
    margin-right: auto ;
    width:100%;
    max-width:  1000px; 

}

p.alignCenter{
    text-align: center;
    font-weight: bold;
    
    
}
.couverture img{
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.group-center img{
    width: 100%;
}




.background{
    position: relative;
}
.background img{
    position :absolute;
}
.group-center p{
    font-size: 11px;
    margin-left: 15px;


}